/.idea
/*.trs
/*.hdf5
/*.cw
/*/__pycache__
/Testing/ExampleData/ASCAD/ATMega8515_raw_traces.h5
/Testing/ExampleData/ASCAD/ascad-variable.h5
/Testing/ExampleData/ASCAD/ascad-variable-desync100.h5
/Testing/ExampleData/ASCAD/ASCAD_desync100.h5
/Testing/ExampleData
/Demos/TestFile
/Testing/AnotherFile/
